<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Purchase Success</title>
   
</head>
<body style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif">

<div class="container" style="margin: 2em auto; width: 568px;">
        <div class="row">
            <div class="col">
            </div>
            <div class="col-lg-6">
            <center>
                <!-- MAIL HEADER -->
                <div class="header" style="margin-top: 0.1em;">
                <div style="width:100%;text-align: right;"><img src='https://lh6.googleusercontent.com/QtdirTfoJ4fwMIJE7h2ViaH5yMTdu0KtEu-FjmzSPCtJiBG4YyHEDlVeG2wj7Em1lp9z4ApAjqhy1UMMoaT5=w1920-h975' class="commjuction-logo" style="width: 10em;"></div>
                <div class="header-cont" style="width:100%;height:auto;background: #115b8a;color:white;background: linear-gradient(90deg, #115b8a 0%, #529CD4 100%);padding:0.5em 0 0.5em 0";>
                   Purchase Success, Here's Your Payment Receipt
                </div>    
                </div>
                <!-- END of MAIL HEADER -->
                <!-- <img src='https://lh6.googleusercontent.com/QtdirTfoJ4fwMIJE7h2ViaH5yMTdu0KtEu-FjmzSPCtJiBG4YyHEDlVeG2wj7Em1lp9z4ApAjqhy1UMMoaT5=w1920-h975' class="commjuction-logo"> -->
                <h2 class="cgrey" style="margin-top: 0.7em;">Pembelian Berhasil kami Terima</h2>
                <p class="clight" style="margin-top: 0.6em; color: grey;">

                Pembelian paket Anda berhasil kami terima, berikut tanda bukti pembelian Anda: <br><br>
                </p>
                <label class="clight" style="color: grey;">Invoice Number</label>
                <div class="cgrey2 h6 mgb-1" style="margin: 0.6rem 0 0.9rem 0;">{{payment.invoice}}</div>


                <label class="clight" style="color: grey;">Created At</label>
                <div class="cgrey2 h6 mgb-1" style="margin: 0.6rem 0 0.9rem 0;">{{payment.created_at}}</div>

                <div class="row">
                <div class="col-8">
                <label class="clight" style="color: grey;">Payment Method</label>
                <div class="cgrey2 h6 mgb-1" style="margin: 0.6rem 0 0.9rem 0;">{{payment.payment_method.payment_type.name}}</div>

                <label class="clight" style="color: grey;">Name</label>
                <div class="cgrey2 h6 mgb-1" style="margin: 0.6rem 0 0.9rem 0;">{{payment.payment_method.to_rek_name}}</div>

                </div>
                <div class="col">
                <label class="clight" style="color: grey;">Account</label>
                <div class="cgrey2 h6 mgb-1" style="margin: 0.6rem 0 0.9rem 0;">{{payment.payment_method.to_rek_no}}({{payment.payment_method.to_bank_name}})</div>

                <label class="clight" style="color: grey;">Account Name</label>
                <div class="cgrey2 h6 mgb-1" style="margin: 0.6rem 0 0.9rem 0;">{{payment_owner_name}}</div>
                </div>
                </div>

                <div class="row">
                <div class="col">
                <label class="clight" style="color: grey;">Item</label>
                <div class="cgrey2 h6 mgb-1" style="margin: 0.6rem 0 0.9rem 0;">{{payment.payment_details[0].pricing.name}}</div>

                <label class="clight" style="color: grey;">Description</label>
                <div class="cgrey2 h6 mgb-1" style="margin: 0.6rem 0 0.9rem 0;">{{payment.payment_details[0].pricing.description}}</div>
                </div>

                <div class="col">
                <label class="clight" style="color: grey;">Price</label>
                <div class="cgrey2 h6 mgb-1" style="margin: 0.6rem 0 0.9rem 0;">Rp. {{payment.payment_details[0].pricing.price}}</div>

                <label class="clight" style="color: grey;">Total Payment</label>
                <div class="cgrey2 h6 mgb-1" style="margin: 0.6rem 0 0.9rem 0;">Total: Rp. {{payment.total}}</div>
                </div>
                </div>

                <p class="clight" style="margin-top: 0.6em; color: grey;">
                Segera lakukan pembayaran, jika terdapat kendala dalam proses pembayaran harap hubungi tim Support kami.
                </p>



                <hr style="margin-top: 4em;">

                <img src='https://api.vasdev.co.id:8066/smartcomm/resources/src/vascomm.png' class="vascomm-email"><br>
                <small class="clight">Ruko Gateway, Jl. Raya Waru, Dusun Sawo, Sawotratap, Kec. Gedangan, Kabupaten Sidoarjo, Jawa Timur 61254</small>
                <br>
                <div style="margin-top: 1em;">
            </center>

            </div>
             <!-- MAIL FOOTER -->
                <div class="footer-cont" style="width:100%;height:auto;background:#4F4F4F;color:white;padding:0.5em 0.3em 0.5em 0.3em";>
                    <div style="font-size:14px">Perhatian! </div>
                    <p style="font-size:10px">Mohon untuk tidak melakukan reply pada email ini, email ini dibuat secara otomatis oleh sistem, untuk informasi lebih lanjut, hubungi call center / team Support kami, atau kontak kami melalui sosial media kami disini</p>
                <div style="width:100%;text-align: right;"><img src='https://lh6.googleusercontent.com/3wLq86j9gq_TyK5-qYJrmsk4vd1wjorlnwLz6GD1bj8FCX8NWLQlREAjXpSdXSP2AczGLZvY8PGcZydNfq_R=w1920-h975' class="commjuction-logo" style="width: 10em;"></div>
                <div style="width:100%;text-align: right;">
                    <ul class="list-2" style="display: -webkit-box;display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal;-webkit-box-direction: normal; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center;    -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; list-style-type: none;">
                        <li class="list-item-3" style="margin-left:1em;margin-right:1em;"><img src="https://uploads-ssl.webflow.com/5e21dc602c4935740e096895/5e21e2c9ae731c36b9d6e402_facebook%20-%20FontAwesome.svg" alt="" class="image-12"></li>
                        <li class="list-item-3" style="margin-left:1em;margin-right:1em;"><img src="https://uploads-ssl.webflow.com/5e21dc602c4935740e096895/5e21e2c82c4935ea9409988a_twitter%20-%20FontAwesome.svg" alt=""></li>
                        <li class="list-item-3" style="margin-left:1em;margin-right:1em;"><img src="https://uploads-ssl.webflow.com/5e21dc602c4935740e096895/5e21e2c710e3494ab5f24332_linkedin%20-%20FontAwesome.svg" alt=""></li>
                        <li class="list-item-3" style="margin-left:1em;margin-right:1em;"><img src="https://uploads-ssl.webflow.com/5e21dc602c4935740e096895/5e21e2c84120666353d0cc02_youtube-play%20-%20FontAwesome.svg" alt=""></li>
                      </ul>
                </div>

                </div>    
                <!-- END of MAIL FOOTER -->
            <div class="col">
            </div>
        </div>
    </div>
</body>

</html>
